.home-page-wrapper {
  width: 100%;
  max-width: var(--containerWidth);
  display: flex;
  align-items: flex-start;
  gap: 0.875rem;
  padding: calc(var(--headerHeight) + 4.188rem) var(--containerPadding) 0;
  margin-left: auto;
  margin-right: auto;

  .sidenavbar-section {
    margin-bottom: calc(var(--bottomButtonBar) + 1rem);
  }

  .custom-select-field {
    display: none;
    margin-bottom: 0;
  }

  .content-container {
    width: 100%;
    background-color: var(--white-1000);
    border: 1px solid var(--platinum-1000);
    border-radius: 0.5rem;
    margin-bottom: calc(var(--bottomButtonBar) + 1rem);
  }

  .section-heading-box {
    border-bottom: 1px solid var(--platinum-1000);
    padding: 1.875rem 2.5rem 1.25rem;

    .heading-text {
      color: var(--primaryDark-1000);
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
    }

    .subheading-text {
      color: var(--quartz-1000);
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.4;
      margin-top: 0.625rem;
    }
  }

  .section-body-box {
    padding: 1.875rem 2.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--platinum-1000);
    }

    .section-title-box {
      margin-bottom: 1.25rem;

      .title-text {
        color: var(--quartz-1000);
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    flex-direction: column;
    gap: 1.25rem;
    padding: calc(var(--headerHeight) + 1.25rem) var(--containerPadding) 0;

    .sidenavbar-section {
      display: none;
    }

    .custom-select-field {
      display: block;
    }
  }

  @media screen and (max-width: 767.98px) {
    .content-container {
      background-color: transparent;
      border: 0;
      border-radius: 0;
    }

    .section-heading-box {
      border-bottom: 0;
      padding: 0;

      .heading-text {
        font-size: 1.75rem;
        font-weight: 900;
      }

      .subheading-text {
        font-size: 1.125rem;
      }
    }

    .section-body-box {
      padding: 1.25rem 0;

      .section-title-box {
        margin-bottom: 1rem;

        .title-text {
          font-size: 1.25rem;
        }
      }
    }
  }
}
