.device-section {
  .device-wrap {
    .switch-btn-box {
      margin-bottom: 1.25rem;

      .custom-switch-field {
        .switch-label {
          color: var(--quartz-1000);
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      .text {
        color: var(--quartz-1000);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
        margin-top: 1rem;
      }
    }
    .image-filename-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}
